// FONT
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

// COLORS
// primary
// (active input border)
$c-Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
//  (input errors)
$c-Red: hsl(0, 100%, 66%);

// neutral
$c-White: hsl(0, 0%, 100%);
$c-Light-grayish-violet: hsl(270, 3%, 87%);
$c-Dark-grayish-violet: hsl(279, 6%, 55%);
$c-Very-dark-violet: hsl(278, 68%, 11%);

* {
	margin: 0;
	padding: 0;
}


body, header, footer {
	font-family: "space grotesk";
	font-size: 15px;
}

header {
	background-image: url("../images/bg-main-mobile.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 240px;

	.card:first-child, .card:nth-child(2) {
		height: 160px;
		width: 280px;
	}

	.card:first-child {
		color: $c-White;
		background-image: url("../images/bg-card-front.png");
		background-repeat: no-repeat;
		background-size: contain;
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: -50px;
		left: 20px;
		z-index: 2;

		img {
			width: 60px;
			padding: 15px;
		}

		h1 {
			text-align: center;
			font-size: 1.4em;
			font-weight: 400;
			padding: 15px 0;
			letter-spacing: 1px;
		}

		.flex {
			display: flex;
			justify-content: space-between;

			p {
				padding: 0 15px;
				font-size: 0.8em;
				font-weight: 100;
				text-transform: uppercase;
			}
		}
	}

	.card:nth-child(2) {
		
		color: $c-White;
		background-image: url("../images/bg-card-back.png");
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1;
		position: absolute;
		left: 70px;
		top: 45px;
		p {
			position: absolute;
			right: 35px;
			top: 67px;
			font-size: 0.8em;
		}
	}
}

main {
	padding-top: 80px;

	.complete-state {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;

		img {
			width: 68px;
		}

		h2 {
			text-transform: uppercase;
			padding: 20px 0;
			letter-spacing: 2px;
		}

		button {
			width: 80%;
			max-width: 300px;
			margin: 50px 5px 5px 0;
			padding: 15px 0;
			border-radius: 5px;
			border: none;
			background-color: $c-Very-dark-violet;
			color: $c-White;
			letter-spacing: 1px;
		}
	}

	form {
		min-width: 370px;
		display: inline;

		label {
			text-transform: uppercase;
			color: $c-Very-dark-violet;
			font-weight: bold;
			letter-spacing: 2px;
			font-size: 0.75em;
		}


		input[type="submit"] {
			width: 100%;
			margin: 5px 5px 5px 0;
			padding: 15px 0;
			border-radius: 5px;
			border: none;
			background-color: $c-Very-dark-violet;
			color: $c-White;
			letter-spacing: 1px;
		}

		.form-row {
			width: 90%;
			margin: auto;
		}

		input[type="text"] {
			box-sizing: border-box;
			width: 100%;
			padding: 10px;
			border-radius: 5px;
			border: 1px solid $c-Light-grayish-violet;
			margin: 5px 5px 5px 0;
		}

		input:hover {
			border: 1px solid $c-Very-dark-violet;
			cursor: pointer;
		}

		.third-row {
			display: flex;

			.date {
				display: flex;
				flex-wrap: wrap;
				width: 50%;
				label {
					width: 100%;
				}

				input {
					width: calc(50% - 5px);
				}
			}

			.cvc {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
			}
		}
	}

}

@media only screen and(min-width: 1140px) {
	body {
		display: flex;
		flex-wrap: wrap;
		header {
			width: 40%;
			height: 100vh;
			background-image: url(../images/bg-main-desktop.png);
			background-repeat: no-repeat;
			background-size: cover;
			

			.card:first-child, .card:nth-child(2) {
				height: 190px;
				width: 350px;
				background-size: cover;
			}

			.card:first-child {
				top: 25%;
				left: 30%;

				.flex {
					padding-top: 20px;
				}
			}

			.card:nth-child(2) {
				top: 50%;
				left: 45%;
				p {
					top: 85px;
				}
			}
		}

		main {
			width: calc(60% - 160px);
			padding: 80px;
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 500px;
			margin-left: 50px;

			.form-row {
				padding-top: 15px;
			}
		}

		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}
}