@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body, header, footer {
  font-family: "space grotesk";
  font-size: 15px;
}

header {
  background-image: url("../images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 240px;
}
header .card:first-child, header .card:nth-child(2) {
  height: 160px;
  width: 280px;
}
header .card:first-child {
  color: white;
  background-image: url("../images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -50px;
  left: 20px;
  z-index: 2;
}
header .card:first-child img {
  width: 60px;
  padding: 15px;
}
header .card:first-child h1 {
  text-align: center;
  font-size: 1.4em;
  font-weight: 400;
  padding: 15px 0;
  letter-spacing: 1px;
}
header .card:first-child .flex {
  display: flex;
  justify-content: space-between;
}
header .card:first-child .flex p {
  padding: 0 15px;
  font-size: 0.8em;
  font-weight: 100;
  text-transform: uppercase;
}
header .card:nth-child(2) {
  color: white;
  background-image: url("../images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  position: absolute;
  left: 70px;
  top: 45px;
}
header .card:nth-child(2) p {
  position: absolute;
  right: 35px;
  top: 67px;
  font-size: 0.8em;
}

main {
  padding-top: 80px;
}
main .complete-state {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .complete-state img {
  width: 68px;
}
main .complete-state h2 {
  text-transform: uppercase;
  padding: 20px 0;
  letter-spacing: 2px;
}
main .complete-state button {
  width: 80%;
  max-width: 300px;
  margin: 50px 5px 5px 0;
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  background-color: #21092f;
  color: white;
  letter-spacing: 1px;
}
main form {
  min-width: 370px;
  display: inline;
}
main form label {
  text-transform: uppercase;
  color: #21092f;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.75em;
}
main form input[type=submit] {
  width: 100%;
  margin: 5px 5px 5px 0;
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  background-color: #21092f;
  color: white;
  letter-spacing: 1px;
}
main form .form-row {
  width: 90%;
  margin: auto;
}
main form input[type=text] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dedddf;
  margin: 5px 5px 5px 0;
}
main form input:hover {
  border: 1px solid #21092f;
  cursor: pointer;
}
main form .third-row {
  display: flex;
}
main form .third-row .date {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
main form .third-row .date label {
  width: 100%;
}
main form .third-row .date input {
  width: calc(50% - 5px);
}
main form .third-row .cvc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media only screen and (min-width: 1140px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
  body header {
    width: 40%;
    height: 100vh;
    background-image: url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  body header .card:first-child, body header .card:nth-child(2) {
    height: 190px;
    width: 350px;
    background-size: cover;
  }
  body header .card:first-child {
    top: 25%;
    left: 30%;
  }
  body header .card:first-child .flex {
    padding-top: 20px;
  }
  body header .card:nth-child(2) {
    top: 50%;
    left: 45%;
  }
  body header .card:nth-child(2) p {
    top: 85px;
  }
  body main {
    width: calc(60% - 160px);
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin-left: 50px;
  }
  body main .form-row {
    padding-top: 15px;
  }
  body footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
